@mixin button($bgcolor) {
 background-color: $bgcolor; 
 color: white;
 display: inline-block;
 padding: 1em;
 margin: 1em;
// border: 1px solid #EEE;
 border-radius: 3px;
 cursor: pointer;
}
 
@mixin empty-button ($borderColor) {  
  @include button(transparent);
  border: 1px solid $borderColor;
  color: $borderColor;
}
 