@import "bourbon/bourbon";
@import "neat/neat";

body {

	.row {
		@include span-columns(12 of 12);
		min-height: 160px;
		text-align: center;
		border: 1px solid;
		margin-bottom: 10px;
		padding: 10px;
		.left-col {
			@include span-columns(4 of 12);
			/*@include shift(1.5);*/
			border: 5px solid red;
			padding-bottom: 100px;
		}
		.center-col {
			border: 5px solid green;
			@include span-columns(4 of 12);
			padding-bottom: 100px;

			&:hover {
				background: red;
			}
			&:last-child {
				background: yellow;
			}

		}
		.right-col {
			@include span-columns(4 of 12);
			/*@include omega;*/
			border: 5px solid blue;
			padding-bottom: 100px;
			&:last-child {
				background: blue;
			}
		}
	}
}